
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="d-flex h-100 w-100 justify-content-center" >
    <div class="align-self-center border-dark shadow-lg text-white rounded-3" style="background-color:#363434; height: 70%; ">
        <h1 class="text-center fw-bold">Contact Us</h1>
        <div class="fs-4 m-3">
            <p class="p-2">If you have any questions, feel free to contact us by filling out the form below:</p>
        </div>
        <div class="form-group m-3 input-field">
            <input type="email" id="email1" class="form-control" placeholder="user@gmail.com" />
        </div>
        <div class="form-group m-3 input-field">
            <input type="text" id="subject" class="form-control" placeholder="Subject..." />
        </div>
        <div class="form-group m-3 input-field">
            <textarea id="message" class="form-control" placeholder="Message..." rows="7"></textarea>
        </div>
        <div class="form-group m-3 text-center">
            <button class="btn btn-warning btn-lg" id="btn-submit">Submit</button>
        </div>
    </div>
</div>